@import "./core/base/reset";
@import "./core/components/sidenav/sidenav";
@import "./core/components/topnav/topnav";

* {
  font-family: "Noto Sans JP", Helvetica, Arial, sans-serif;
}

.emp {
  font-weight: bold;
}

html,
body {
  max-width: 100vw;
  margin: 0px;

  ::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba($color: #f1f1f1, $alpha: .5); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #757575; 
  }
  .content {
    color: white;
    min-height: 100dvh;
    background-color: #171717;
    display: flex;

    .main {
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        .page {
            min-width: 1200px;
            width: 100%;
            background-color: #FFF6E1;
            flex-grow: 1;
            padding: 36px;
            color: #505477;

            .page-wrapper {
              max-width: 1400px;
              margin: auto;
            }
            h1 {
              font-size: 2rem;
              margin-bottom: 2.25rem;
            }

            h2 {
              font-size: 1.5rem;
              margin-bottom: 1.5rem;
            }

            h3 {
              font-size: 1rem;
              margin-bottom: .75rem;
            }
        }
    }
  }
}