$margin-small: 16px;
$margin-medium: 24px;
$margin-large: 36px;
$margin-x-large: 48px;
$margin-xx-large: 64px;
$max-width: 75rem;

$text-dark-primary: #3E3E42;
$text-light-primary: #ffffff;

$arcadia-primary-one: #505477;
$arcadia-primary-two: #3E415B;
$arcadia-secondary-one: #F982AA;
$arcadia-secondary-two: #FFAAAA;
$bg-body-light-primary: #FFF6E1;

$miru-primary: #A8C6A1;
$yomu-primary: #B2B2B2;
$asobu-primary: #E63946;
$tsunagu-primary: #FFCA3C;
$kau-primary: #4A69CF;

$iku-primary: #483D8B;
$shiru-primary: #FFA468;
$hiku-primary: #F0D66A;
$kiku-primary: #9370DB;

$box-shadow-default: 0px 4px 4px rgba(#000000, .25);

// Background gradients
$arcadia-gradient-vertical: linear-gradient(to bottom, #505477, #2F324B);