#page-tsunagu-circle {
    #community-details {
        #community-overview {
            #icon-name {
                align-items: center;
                margin-bottom: 1rem;
            }
        }
    }
}