.flex-row {
    display: flex;
    flex-direction: column;

    &--gap-sm {
        row-gap: .75rem;
    }

    &--gap-md {
        row-gap: 2rem;
    }

    &--gap-lg {
        row-gap: 2.5rem;
    }
}

.flex-col {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;

    &--gap-sm {
        column-gap: 1rem;
        row-gap: 1rem;
    }

    &--gap-md {
        column-gap: 2rem;
        row-gap: 2rem;
    }

    &--gap-lg {
        column-gap: 2.5rem;
        row-gap: 2.5rem;
    }
}