.grid {
    >div {
        margin-bottom: 2rem;
    }
}

@media only screen and (min-width: 992px) {
    .grid {
        display: grid;
        column-gap: 1.5rem;

        >div {
            margin-bottom: 0;
        }
        &--2-col {
            grid-template-columns: repeat(2, 1fr);
        }

        &--3-col {
            grid-template-columns: repeat(3, 1fr);
        }

        &--4-col {
            grid-template-columns: repeat(4, 1fr);
        }

        &--5-col {
            grid-template-columns: repeat(5, 1fr);
        }

        &--side-col {
            grid-template-columns: 1fr 300px;
        }

        &--side-col-reverse {
            grid-template-columns: 300px 1fr;
        }

        &--filter-col {

            >div {
                &:first-child {
                    margin-bottom: 2rem;
                }
            }
        }

        &--feature-combo {
            grid-template-columns: 1.25fr 1fr;
        }
    }
}

@media only screen and (min-width: 1247px) {
    .grid {
        &--filter-col {
            display: grid;
            grid-template-columns: 300px 1fr;
        }
    }
}