.grid {
    display: grid;
    column-gap: 1.5rem;

    &--2-col {
        grid-template-columns: repeat(2, 1fr);
    }

    &--3-col {
        grid-template-columns: repeat(3, 1fr);
    }

    &--4-col {
        grid-template-columns: repeat(4, 1fr);
    }
}