@use '../utils/variables' as *;
@use "sass:map";

#platform-sidebar {
    height: 3.5rem;
    background-color: map.get($colors, platform-dark);
    padding: .5rem;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #33343A;

    .MuiButtonBase-root {
        color: white;
        justify-content: flex-start;
        width: 100%;
    }
}