@use '../abstract/variables' as *;
@forward '../layouts';
@forward '../base';

html {
    background-color: $bg-body-light-primary;
    font-size: 18px;

    body {
        padding-top: 5rem;
        color: $text-dark-primary;
    }
}

a {
    text-decoration: none;

    &:visited {
        color: inherit;
    }
}

.MuiButtonBase-root {
    width: fit-content;

    text-transform: capitalize;
}

.desktop-only {
    display: none;
}

.mobile-only {
    display: block;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 768px) {

    .desktop-only {
        display: block;
    }

    .mobile-only {
        display: none;
    }
}
