@use '../../../abstract/variables' as *;

#page-apps-asobu {

    .hero {
        background-color: #373952;

        &__text {
            background-color: rgba(white, .7);
            -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
            border-radius: 15px;
            padding: 1.5rem;
        }
    }
}

@media only screen and (min-width: 768px) {

    #page-apps-asobu {

        .hero {

            &__text {
                color: white;
                background-color: rgba($color: #000000, $alpha: 0);
                -webkit-backdrop-filter: none;
                backdrop-filter: none;
                border-radius: 0;
                padding: 0;
            }

            &__bg-image {
                top: 0;
                left: 50%;
                width: 50%;
            }

            .text-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            .hero-arrow {
                clip-path: polygon(0% 0%, 60% 0, 45% 50%, 60% 100%, 0% 100%);
                height: 100%;
                width: 100%;

                &#hero-arrow-1 {
                    background-color: #A42B23;
                    z-index: 3;
                }

                &#hero-arrow-2 {
                    left: 5%;
                    background-color: map-get($arcadia-colors , asobu-base );
                    z-index: 2;
                }

                &#hero-arrow-3 {
                    left: 10%;
                    background-color: #ED665E;
                    z-index: 1;
                }
            }

            &__wrapper {
                z-index: 5;
            }
        }
    }
}