@use '../../../abstract/variables' as *;

#page-apps-kau {

    .hero {
        background: linear-gradient(to right, #2692D3, #1D6C9C);;

        &__text {

            p, h1 {
                color: white;
            }
        }

        .cta {
            margin-bottom: 2rem;

            p {
                margin-bottom: 2rem;
            }
        }

        .spotlight {
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-content: center;
            gap: 1.5rem;
            
            .image {
                border-radius: 12px;
                width: 150px;
                height: 150px;
                background-color: map-get($arcadia-colors, arc-base );
                overflow: hidden;

                img {
                    height: 100%;
                }
            }
        }

        .socials {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: 1rem;
            height: 150px;

            .social-links {
                width: 100%;
                display: flex;
                justify-content: space-around;
            }
            .MuiButtonBase-root {
                background-color: map-get($arcadia-colors, arc-base );
                
                color: white;
            }
        }
    }
}

@media only screen and (min-width: 768px) {

    #page-apps-kau {

        .hero {

            #hero-lines-1 {
                left: 2%;
            }

            #hero-lines-2 {
                right: 0%;
                bottom: 2%;
            }
            &__wrapper {
                display: grid;
                grid-template-columns: 1fr 1fr;
                column-gap: 40dvw;

                #marin {
                    position: absolute;
                    z-index: 2;
                    left: 50%;
                    transform: translateX(-50%);
                    height: 100%;
                }

                .hero__text {
                    position: relative;
                    z-index: 1;
                }

                .header-part-two {
                    padding-top: 1.5rem;
                    order: 2;
                    position: relative;
                    z-index: 1;

                    p {
                        font-size: 4rem;
                        font-weight: bold;
                        color: white;
                    }
                }

                .spotlight {
                    order: 3;
                    position: relative;
                    z-index: 3;

                    .image {
                        box-shadow: $box-shadow-default;
                        width: 200px;
                        height: 200px;
                    }

                    p {
                        color: white;
                    }
                }

                .cta {
                    order: 4;
                    position: relative;
                    z-index: 3;
                    margin-bottom: 0;

                    img {
                        margin-bottom: 2rem;
                    }
                    .cta-container {
                        background-color: rgba(white, .7);
                        padding: 1.5rem;
                        -webkit-backdrop-filter: blur(5px);
                        backdrop-filter: blur(5px);
                        border-radius: 15px;
                    }
                }

                .socials {
                    height: 200px;
                }
            }
        }
    }
}