@use '../../../abstract/variables' as *;
@use "sass:map";

#page-apps-shiru {

    .hero {
        &__full-wrapper  {
            display: flex;
            flex-direction: column;
            min-height: inherit;

            #topics {
                background-color: map.get($arcadia-colors , arc-base );
                padding: 1rem;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                .topic {
                    display: flex;
                    flex-direction: column;

                    div {
                        aspect-ratio: 1 / 1;
                        height: 150px;
                        background-color: map.get($arcadia-colors , shiru-base );
                        padding: 8px;

                        img {
                            height: 100%;
                            margin: auto;
                        }
                    }

                    p {
                        margin-top: 1rem;
                        color: white;
                        font-weight: bold;
                        text-align: center;
                    }
                }
            }

            #hero-text {
                position: relative;
                
                img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                .mask {
                    opacity: .25;
                }

                .hero__text {
                    margin: 2rem 0;
                    position: relative;
                    z-index: 3;
                    width: 90%;
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) {

    #page-apps-shiru {

        .hero {
            &__full-wrapper  {
                display: grid;
                grid-template-columns: 1fr 4fr;

                #topics {
                    height: 100%;
                    
                    .topic {
                        display: flex;
                        flex-direction: column;

                        p {
                            font-size: 1.5rem;
                        }
                    }
                }
            }
            
            #hero-text {
                .hero__text {
                    width: 50%;
                }
            }
        }
    }
}