// Holds styles that persists through all parts of arcadia
@use  "./abstract/variables" as *;
@forward './base/';
@forward "./abstract/";

html {
    background-color: $bg-body-light-primary;
    font-size: 18px;
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
    body {
        color: $text-dark-primary;
        overflow-x: hidden;
        
        a {
            text-decoration: none;
            color: inherit;
            
            &:visited {
                color: inherit;
            }
        }

        .MuiButtonBase-root {
            width: fit-content;
            text-transform: capitalize;
            font-weight: bold;
        }
    }
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vertical-text {
    writing-mode: vertical-rl;
    text-orientation: upright;
}

// Popups appear on the same level as the main content, thus
// we need to target them at the top level :/
#solutions-dropdown {
    .MuiPaper-root {
        ul {
            display: flex;

            .MuiButtonBase-root {
                img {
                    margin-right: .5rem;
                }
            }
        }
        
        .secondary {
            border-left: 2px solid rgba(white, .2);
        }
    }
}


.border-radius {
    border-radius: 15px;
}

.box-shadow {
    box-shadow: $box-shadow-default;
}

.bg-mask {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: black;
}