@use "../../../abstract/variables" as *;
@use "sass:map";

#page-d2x-about {
    position: relative;
    overflow: hidden;
    min-height: calc(100dvh - 5rem);
    height: 500px;
    background: linear-gradient(to bottom, #7EBCED, #F1E3E7, #FBEDE8);

    .clouds {
        position: absolute;
    }

    #group-left, #group-right, #mountain {
        position: absolute;
        bottom: -1px;
        pointer-events: none;
        user-select: none;
        z-index: 3;
    }

    #group-left {
        left: 0;
        z-index: 2;
        bottom: -100px;
        left: -60px;
    }

    #group-right {
        right: 0;
        z-index: 2;
    }

    #mountain {
        width: 100%;
        z-index: 1;
        bottom: -70px;
    }

    #scroller {
        height: calc(100dvh - 5rem);
        overflow-y: scroll;
        position: relative;
        z-index: 3;

        &::-webkit-scrollbar {
            display: none;
        }

        #hero {
            height:  inherit;
        }

        #about {
            h3 {
                color: map.get($arcadia-colors , arc-accent )
            }
        }
        #spirit {
            .section-content {
                display: grid;
                grid-template-columns: 1fr;
                gap: 1rem;

                .one { order: 1; }
                .two { order: 2; }
                .three { order: 3; }
                .four { order: 4; }
                .five {
                    font-size: 2rem;
                    order: 5;
                    display: none;
                }
                .six { order: 7; }
                .seven { order: 6; }
                .eight { order: 9 }
                .nine { order: 8; }
                img {
                    height: 100%;
                    object-fit: cover;
                    border-radius: 12px;
                }

                .blur-container {
                    text-align: center;
                    h3 {
                        font-size: 1rem;
                        margin-bottom: 1rem;
                        color: #F982AA;
                    }
                }
            }
        }

        #quote-one {
            .quote {
                background: linear-gradient(to right, #483D8B, #9370DB);
                grid-template-columns: 50% 35%;
            }
        }

        #awards {
            .section-content--flex {
                justify-content: space-between;
                row-gap: .5rem;

                .award {
                    max-width: 160px;
                    padding: 1rem;
                    border: 2px solid map.get($arcadia-colors , arc-base );
                    height: 100%;

                    img {
                        max-height: 100px;
                        margin: auto;
                    }

                    p {
                        color: map.get($arcadia-colors , arc-base );
                        text-align: center;
                        margin-top: 1rem;

                        &:first-of-type {
                            font-weight: bold;
                        }

                        &:last-of-type {
                            font-size: .75rem;
                        }
                    }
                }
            }
        }

        #quote-two {
            .quote {
                background: linear-gradient(to right, #F6A875, #E63946);
                grid-template-columns: 35% 50%;
            }
        }

        #collab {
            .collaborators {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 1rem;
                justify-items: center;

                img {
                    max-width: 150px;
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) {

    #page-d2x-about {
        height: 900px;
        
        #scroller {
            #about {
                .blur-container {
                    width: 70%;
                    margin: auto;
                }
            }

            #spirit {
                .section-content {
                    grid-template-columns: 1fr 1fr 1fr;
                    
                    .three { order: 3; }
                    .four { order: 4; }
                    .five {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                    }
                    .six { order: 6; }
                    .seven { order: 7; }
                    .eight { order: 8; }
                    .nine { order: 9; }
                }
            }

            #awards {
                .section-content--flex {
                    .award {
                        max-width: 250px;

                        img {
                            max-height: 125px;
                            margin: auto;
                        }
                    }
                }
            }

            #collab {
                .collaborators {
                    img {
                        max-width: 200px;
                    }
                }
            }
        }
    }
}