@use "../../../abstract/variables" as *;
@use "sass:map";

#page-d2x-esports {

    #hero {
        #hero-bg-left {
            height: 100%;
            width: 100%;
            left: 0;
            background-color: #57304D;
        }
        #hero-bg-right {
            height: 100%;
            width: 50%;
            right: 0;

            img {
                height: inherit;
                width: 100%;
                object-fit: cover;
            }
        }
    }

    #achievements {
        background-color: #57304D;

        #tournaments {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2rem;
        }

        .banner {
            display: flex;
            flex-direction: column;
            height: 100%;
            border-radius: 5px;
            padding: 12px;
            color: white;
            text-align: center;
            border: 8px solid #421a38;
            border-top: 24px solid #421a38;
            background-color: map.get($arcadia-colors, arc-base );

            .trophy {
                height: 150px;
                margin-bottom: 1.5rem;
                
                img {
                    margin: auto;
                    height: 100%;
                }
            }
            .game, .tournament {
                font-weight: bold;
            }
            
            .years {
                opacity: 50%;
                font-size: 12px;
            }

            .text-container {
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                row-gap: .5rem;
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    #page-d2x-esports {
        #hero {
            #hero-bg-left {
                width: 50%;
            }

            .hero__text {
                width: 75%;
            }

            #hero-bg-right {

                #hero-hor {
                    position: absolute;
                    left: 0;
                    height: 100%;
                    width: 25%;
                    background: linear-gradient(to right, rgba(87, 48, 77, 100%), rgba(87, 48, 77, 0%));
                }
                #hero-vert {
                    position: absolute;
                    bottom: 0;
                    height: 30%;
                    width: 100%;
                    background: linear-gradient(to bottom, rgba(87, 48, 77, 0%), rgba(87, 48, 77, 100%));
                }
            }
        }

        #achievements {
            #tournaments {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
            }
            .section-main {
                width: 80%;
            }
        }
    }
}