@use '../../utils/variables' as *;
@use "sass:map";

#page-kiku-album-details {
    #album-summary {
        img {
            width: 75%;
            margin: auto;
        }
        .text {
            text-align: center;
        }
    }

    #artist-mobile-summary {
        display: grid;
        grid-template-columns: 1fr 1fr;
        img {
            width: 100%;
            margin: auto;
        }
        .text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: 1rem;
            text-align: center;
        }
    }

    #artist-desktop-summary {
        display: none;
    }
    
}

@media only screen and (min-width: 600px) {
    #page-kiku-album-details {
        #artist-desktop-summary {
            display: none;
        }

        #artist-mobile-summary {
            display: grid;
            align-items: flex-end;
            grid-template-columns: 1fr 1.5fr;
            column-gap: 1rem;
            background-color: map.get($colors, platform-dark);
            border-radius: 12px;

            .text {
                align-items: flex-start;
            }
        }

        #album-summary {
            display: grid;
            align-items: flex-end;
            grid-template-columns: 1fr 1.5fr;
            column-gap: 1rem;
            background-color: map.get($colors, platform-dark);
            border-radius: 12px;

            img {
                margin: none;
                width: 100%;
            }
            .text {
                text-align: left;
            }
        }
        #header {
        }
    }
}

@media only screen and (min-width: 1200px) {
    #page-kiku-album-details {
        #header {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        #artist-desktop-summary {
            display: grid;
            grid-template-columns: 1fr 1.25fr;
            column-gap: 1rem;
            background-color: map.get($colors, platform-dark);
            border-radius: 12px;

            .text {
                display: flex;
                flex-direction: column;
                row-gap: 1rem;
                justify-content: flex-end;
                
            }
        }

        #artist-mobile-summary {
            display: none
        }
    }
}