@use '../../utils/variables' as *;
@use "sass:map";

#page-kiku-artist-details {
    #spotlight {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;

        #artist-spotlight {
            display: grid;
            grid-template-columns: 1fr 1fr;
            overflow: hidden;
            height: 325px;
    
            h2 {
                margin-bottom: 0;
            }
    
            p {
                &:first-of-type {
                    font-weight: 700;
                    margin-bottom: 1rem;
                }
                &:last-of-type {
                    opacity: .5;
                }
            }
    
            #artist-text {
                height: inherit;
            }
    
            #artist-image {
                position: relative;
                height: inherit;
    
                .mask {
                    position: absolute;
                    z-index: 2;
                    background: linear-gradient(to right, rgba(map.get($colors, platform-dark), 1), rgba(map.get($colors, platform-dark), 0));
                    height: 100%;
                    width: 100%;
                }
    
                img {
                    position: relative;
                    z-index: 1;
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
                
                .MuiButton-root {
                    position: absolute;
                    z-index: 3;
                    bottom: 1rem;
                    right: 1rem;
                }
            }
        }

        #album-spotlight {
            height: 325px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            > div {
                display: grid;
                grid-template-columns: 200px 1fr;
                column-gap: 1rem;
                
                img {
                    height: 200px;
                    width: 200px;
                }

                > div {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    row-gap: 1rem;
                }
            }
        }
    }
    #artist-content {
        #detail {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 2rem;
        }

        #songs {
            margin-top: 2rem;
        }
    }
}

@media only screen and (min-width: 1024px) {
    #page-kiku-artist-details {
        #spotlight {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 1rem;
        }
    }
}

@media only screen and (min-width: 1200px) {
    #page-kiku-artist-details {
        #artist-content {
            display: grid;
            grid-template-columns: 1fr 1.25fr;
            column-gap: 2rem;

            #detail {
                display: flex;
            }

            #songs {
                margin-top: 0;
            }
        }
    }
}