@use "../core/base/variables" as *;

#home {

    h1 {
        text-align: center;
    }

    .dashboard-art {
        margin-bottom: 44px;
        max-height: 300px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        border-radius: 12px;
        overflow-y: hidden;
        box-shadow: $arcadia-shadow;
        
        .art-overlay {
            position: absolute;
            background-color: rgba($color: black, $alpha: .3);
            height: 100%;
            width: 100%;
        }

        h1 {
            position: absolute;
            color: white;
            top: 16px;
            left: 16px;
        }
        img {
            width: 100%;
            height: auto
        }
    }
    .app-container {
        display: flex;
        justify-content: space-between;

        a {
            text-decoration: none;

            &:hover {
                p {
                    text-decoration: underline;
                }
            }

            .app {
                display: flex;
                flex-direction: column;
                align-items: center;
                row-gap: 8px;

                .icon-container {
                    padding: 12px;
    
                    height: 64px;
                    width: 64px;
    
                    border-radius: 64px;
                }

                p {
                    color: #3E3E42;
                    font-weight: bold;
                }
            }
        }
    }
}