@use '../../abstract/variables' as *;

#kumitateru-part-dialog {

    .MuiTypography-root, .MuiDialogContent-root {
        background-color: $platform-bg-1;
    }
    .MuiTypography-root {
        border-top: 3px solid map-get($arcadia-colors, kumitateru-base );
        border-bottom: none;
    }
    
    .MuiDialogContent-root {
        color: white;

        >div {
            display: grid;
            grid-template-columns: 1fr 3fr;
            
            .left {
                padding-right: 1rem;
                border-right: 1px solid rgba(#bbbbbb, .5);
            }
            .right {
                padding-left: 1rem;
            }
            h3 {
                color: map-get($arcadia-colors, kumitateru-base );
                border-bottom: 1px solid rgba(#bbbbbb, .5);
            }
        }
    }
}