@use '../../abstract/variables' as *;

#platform-header {
    height: 3.5rem;
    background-color: $platform-bg-2;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #33343A;

    .logo {
        padding: .5rem;
        width: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: 1px solid #33343A;
    }

    .links {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        row-gap: 1rem;
        padding-right: 20px;

        .MuiSvgIcon-root {
            color: white;
        }
    }
}