@use "../abstract/variables" as *;
@forward "./layout/index";

#platform-layout {
    min-height: 100dvh;

    #platform-second-layout {
        display: flex;
        height: calc(100dvh - 3.5rem);

        #platform-sidebar {
            width: 150px;
            height: 100%;
        }

        #platform-content {
            padding: 1rem;
            color: white;
            flex-grow: 1;
            background-color: $platform-bg-1;
            overflow-y: scroll;

            .card {
                background-color: #36373D;
                border-radius: 12px;
                box-shadow: $box-shadow-default;
                overflow: hidden;
                padding: 1.5rem;

                &--custom {
                    padding: 0;
                }

                &__content {
                    padding: 1.5rem;
                }
            }
        }
    }
}
