@use "../abstract/variables" as *;
@forward "./layout/index";

// Content Organization
.layout-grid {
    &-2 {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(2, 1fr)
    }
    &-3 {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(3, 1fr)
    }
    &-4 {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(4, 1fr)
    }
    &-5 {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(5, 1fr)
    }
}

.row-gap {
    &-s {
        display: flex;
        flex-direction: column;
        row-gap: 14px;
    }

    &-md {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }

    &-lg {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
    }
}

.col-gap {
    &-s {
        display: flex;
        flex-direction: row;
        column-gap: 14px;
    }

    &-md {
        display: flex;
        flex-direction: row;
        column-gap: 1rem;
    }

    &-lg {
        display: flex;
        flex-direction: row;
        column-gap: 2rem;
    }
}
    
// Typography
p {
    font-size: .75rem;
}

h2 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #bbbbbb;
}

// MuiOverrides
.MuiFormLabel-root  {
    color: rgba(white, .5) !important;
}

.MuiTypography-root {
    a {
        &:hover {
            text-decoration: underline;
        }
    }
}

.clickable {
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}
.MuiTypography-root {
    color: white;
}

// Misc
.vertical-divider { 

    &-left { border-left: 1px solid #BBBBBB; }
    
    &-right { border-right: 1px solid #BBBBBB; }
}

.border-radius {
    &-s {
        border-radius: 5px;
    }
    &-md {
        border-radius: 15px;
    }
}

// BASE COMPONENTS
.gray-container {
    background-color: #2C2D33;
    padding: 1rem;
}

.media-image {
    border-radius: 5px;
    box-shadow: $box-shadow-default;
}

.info-item {
    font-size: 16px;

    .label {
        font-weight: bold;
    }
    .value {
        color: #939393;
    }
}

.relation-card {
    display: flex;

    .image {
        width: 90px;
        height: 130px;
        object-fit: fill;
    }

    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 8px;
        padding-left: 12px;

        &__name {
            color: #939393;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.character-avatar {
    display: flex;
    align-items: center;
    column-gap: 8px;

    .MuiAvatar-root {
        border-width: 2px;
        border-style: solid;
    }
}

// LAYOUT
#platform-layout {
    min-height: 100dvh;
    max-width: 100%;
    background-color: $platform-bg-1;
    overflow: auto;
    
    #platform-second-layout {
        display: grid;
        grid-template-columns: 150px 1fr;

        #platform-sidebar {
            min-height: 100dvh;
        }

        #platform-content {
            padding: 1rem;
            color: white;
            flex-grow: 1;
            width: 1400px;
            margin: auto;

            .card {
                background-color: #36373D;
                border-radius: 12px;
                box-shadow: $box-shadow-default;
                overflow: hidden;
                padding: 1.5rem;

                &--custom {
                    padding: 0;
                }

                &__content {
                    padding: 1.5rem;
                }

                &__title {
                    font-weight: bold;
                }
            }

            h1 {
                font-size: 1.5rem;
            }
        }
    }
}