.top-bar {
    padding: 6px;
    background-color: #505477;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        img {
            height: 36px;
        }
    }

    .top-navigation {
        display: flex;
    }
}