@use '../../utils/variables' as *;
@use "sass:map";

#yomu-layout {

    .arc-tab {
        &__icon {
            background-color: map.get($colors, yomu-base);
        }
    }

    .arc-header {
        border-bottom-color: map.get($colors, yomu-base);
        .box {
            background-color: map.get($colors, yomu-base);
        }
    }

    .arc-table {
        .MuiTableHead-root {
            .MuiTableCell-root {
                background-color: map.get($colors, yomu-base);
            }
        }
    }
    .MuiPagination-ul {
        .MuiPaginationItem-previousNext {
            color: map.get($colors, yomu-base);
        }

        .MuiPaginationItem-page {
            color: white;

            &.Mui-selected  {
                background-color: map.get($colors, yomu-base);
                color: map.get($colors, txt-dark);
                font-weight: bold;
            }
        }
    }
}