{% load static %}

<div class="footer">
    <div class="footer__inner-wrapper">
        <div class="footer-logo">
            <a href="/">
                <img src="{% static "images/public-site/logo_white.svg" %}" alt="Arcadia log in white text " />
            </a>
            <p class="footer-description">Arcadia is a pretend platform created to practice and learn about full stack development using a subject that is more personal to me. Thanks for stopping by!</p>
        </div>
        <div class="footer-links">
            <div class="footer-links__solutions">
                <div class="footer-links__group">
                    <p class="footer-links__group-header">Primary Apps</p>
                    <a href="#">Miru</a>
                    <a href="#">Yomu</a>
                    <a href="#">Asobu</a>
                    <a href="#">Kau</a>
                    <a href="#">Tsunagu</a>
                </div>
                <div class="footer-links__group">
                    <p class="footer-links__group-header">Secondary Apps</p>
                    <a href="#">Iku</a>
                    <a href="#">Shiru</a>
                    <a href="#">Hiku</a>
                    <a href="#">Kiku</a>
                </div>
            </div>
            <div class="footer-links__other">
                <div class="footer-links__group">
                    <p class="footer-links__group-header">Company</p>
                    <a href="#">About Us</a>
                    <a href="#">Internships</a>
                </div>
                <div class="footer-links__group">
                    <p class="footer-links__group-header">Legal</p>
                    <a href="#">Terms & Conditions</a>
                    <a href="#">Privacy Policy</a>
                    <a href="#">Cookie Policy</a>
                </div>
            </div>
        </div>
        <div class="footer-contact">
            <input class="footer__input" placeholder="Email" />
        </div>
    </div>
</div>