{% load static %}

<div id="footer">
    <div class="footer-inner-wrapper">
        <div class="flex-grid">
            <div class="left-col">
                Picture
            </div>
            <div class="mid-col">
                <div class="top-nav flex-grid">
                    <div class="link-group">
                        <p>Primary Apps</p>
                        <a>Miru</a>
                        <a>Yomu</a>
                        <a>Asobu</a>
                        <a>Kau</a>
                        <a>Tsunagu</a>
                    </div>
                    <div class="link-group">
                        <p>Primary Apps</p>
                        <a>Iku</a>
                        <a>Shiru</a>
                        <a>Hiku</a>
                        <a>Kiku</a>
                    </div>
                </div>
                <div class="bot-nav flex-grid">
                    <div class="link-group">
                        <p>Primary Apps</p>
                        <a>About Us</a>
                        <a>Internships</a>
                    </div>
                    <div class="link-group">
                        <p>Primary Apps</p>
                        <a>Terms & Conditions</a>
                        <a>Privacy Policy</a>
                        <a>Cookie Policy</a>
                    </div>
                </div>
            </div>
            <div class="right-col">
                Contact
            </div>
        </div>
    </div>
</div>