{% load static %}

<nav id="navbar">
    <div class="navbar-inner-wrapper">
        <div class="container">
            <div class="logo">
                <a href="/">
                    <img src="{% static "images/public-site/logo_white.svg" %}" alt="Arcadia log in white text " />
                </a>
            </div>
            <div class="menu">
                <div>Solutions</div>
                <div>
                    <a href="/about_us/">About Us</a>
                </div>
                <div>Enterprise</div>
                <a href="/account/login/">
                    <div class="btn btn-primary">Login</div>
                </a>
                <div>Contact</div>
            </div>
        </div>
    </div>
</nav>