{% extends 'public-site/base.html' %}
{% load static %}

{% block stylesheets %}
<link href="{% static "css/globals/_header.css" %}" rel="stylesheet" type="text/css">
<!-- <link href="{% static "css/globals/_footer.css" %}" rel="stylesheet" type="text/css"> -->
<link href="{% static "css/homepage.css" %}" rel="stylesheet" type="text/css">
<link href="{% static "css/globals/_base.css" %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

    {% include 'public-site/header.html' %}

    <section id="hero">
        <img id="sakura-latern" src="{% static "images/public-site/homepage/sakura_latern.svg" %}" />
        <!-- <img id="hero-flower-one" src="{% static "images/public-site/sakura_flower.svg" %}" />
        <img id="hero-flower-two" src="{% static "images/public-site/sakura_flower.svg" %}" /> -->
        <div class="inner-section-wrapper">
            <div class="flex-grid">
                <div class="text">
                    <h1>All Things Anime,<br>All in One Place</h1>
                    <p>Your one-stop destination for managing, discovering and sharing your love for anime culture.</p>
                    <a href="/account/login/">
                        <div class="btn btn-hero btn-primary">Login</div>
                    </a>
                </div>
                <div class="image">
                    <img id="hero-image" src="{% static "images/public-site/homepage/homepage_hero.svg" %}" />
                    <img id="hero-blob" src="{% static "images/public-site/homepage/homepage_blob.svg" %}" />
                </div>
            </div>
        </div>
    </section>

    <section id="hero-2">
        <div class="bg-image-wrapper">
            <div class="bg-image-col">
                <img id="hero-image-2" src="{% static "images/public-site/homepage/hero_2.jpg" %}" />
            </div>
            <div class="bg-ghost-col"></div>
        </div>
        <div class="inner-section-wrapper">
            <div class="flex-grid">
                <div class="ghost-col"></div>
                <div class="text-col">
                    <h2>A Anime Solution,<br>One Single Platform</h2>
                    <div class="differences">
                        <div class="feature">
                            <div class="line-header"></div>
                            <div class="feature-text">
                                <p class="feature-name">A unified Solution</p>
                                <p class="feature-description">No more having to log into multiple websites to do anime activities. One account to rule them all.</p>
                            </div>
                        </div>
                        <div class="feature">
                            <div class="line-header"></div>
                            <div class="feature-text">
                                <p class="feature-name">Multi-App Platform</p>
                                <p class="feature-description">Got a knack for gacha? Want Convention Information? Arcadia has more than just Anime and Manga.</p>
                            </div>
                        </div>
                        <div class="feature">
                            <div class="line-header"></div>
                            <div class="feature-text">
                                <p class="feature-name">Only Pay to Customize</p>
                                <p class="feature-description">Pay only to stand to enhance your experience. Create unique profiles and unlock extra benefits with Arcadia Premium.</p>
                            </div>
                        </div>
                        <div class="feature">
                            <div class="line-header"></div>
                            <div class="feature-text">
                                <p class="feature-name">Contribute to the Community your way</p>
                                <p class="feature-description">There are many ways to leave your mark in the Arcadia community. Write a unique article, new meta character build, or give a hot take on your anime. Its all up to you.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="primary-suite-intro">
        <div class="inner-section-wrapper">
            <div class="top-half flex-grid">
                <div class="section-text">
                    <p class="sub-header">Introducing Arcadia</p>
                    <h3>Essentials for the Ultimate Otaku</h3>
                    <p class="header-description">Explore all the suites of Arcadia. With different sections to explore, there is sure to be a world for you.</p>
                </div>
                <div id="miru-tile" class="suite-tile vertical dark">
                    <div class="suite-image">
                        <img src="{% static "images/public-site/suite-bgs/miru.jpg" %}" />
                     </div>
                    <div class="suite-text">
                        <p class="title">Arcadia Miru</p>
                        <p class="slogan">Explore the world of anime, one episode at a time</p>
                    </div>
                </div>
            </div>
            <div class="bottom-half flex-grid">
                <div class="left-col flex-grid">
                    <div id="yomu-tile" class="suite-tile vertical light">
                        <div class="suite-image">
                            <img src="{% static "images/public-site/suite-bgs/yomu.jpg" %}" />
                         </div>
                        <div class="suite-text">
                            <p class="title">Arcadia Yomu</p>
                            <p class="slogan">Explore the world of anime, one episode at a time</p>
                        </div>
                    </div>
                    <div id="kau-tile" class="suite-tile horizontal dark">
                        <div class="suite-text">
                            <p class="title">Arcadia Kau</p>
                            <p class="slogan">Explore the world of anime, one episode at a time</p>
                        </div>
                        <div class="suite-image">
                            <img src="{% static "images/public-site/suite-bgs/kau.jpg" %}" />
                        </div>
                    </div>
                </div>
                <div class="right-col flex-grid">
                    <div id="hiku-tile" class="suite-tile horizontal light">
                        <div class="suite-image">
                            <img src="{% static "images/public-site/suite-bgs/hiku.jpg" %}" />
                        </div>
                        <div class="suite-text">
                            <p class="title">Arcadia Hiku</p>
                            <p class="slogan">Explore the world of anime, one episode at a time</p>
                        </div>
                    </div>
                    <div id="tsunagu-tile" class="suite-tile horizontal light">
                        <div class="suite-image">
                            <img src="{% static "images/public-site/suite-bgs/tsunagu.jpg" %}" />
                        </div>
                        <div class="suite-text">
                            <p class="title">Arcadia Tsunagu</p>
                            <p class="slogan">Explore the world of anime, one episode at a time</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="stats">
        <div class="inner-section-wrapper">
            <div class="header-content">
                <p class="sub-header">Statistics</p>
                <h3>A Constant Growing <br> Community and Libary</h3>
            </div>
            <div class="flex-grid">
                <div class="image">
                    <img id="stats-girl" src="{% static "images/public-site/homepage/stats_anime_girl.svg" %}" />
                    <img id="stats-blob" src="{% static "images/public-site/homepage/stats_blob.svg" %}" />
                </div>
                <div class="stats-content flex-grid">
                    <div class="stat flex-grid">
                        <div class="japanese">ユーザ</div>
                        <div>
                            <div class="value">5K</div>
                            <div class="label">Arcadia Users</div>
                        </div>
                    </div>
                    <div class="stat flex-grid">
                        <div class="japanese">アニメ</div>
                        <div>
                            <div class="value">682</div>
                            <div class="label">Anime Titles</div>
                        </div>
                    </div>
                    <div class="stat flex-grid">
                        <div class="japanese">漫画</div>
                        <div>
                            <div class="value">5K</div>
                            <div class="label">Manga Titles</div>
                        </div>
                    </div>
                    <div class="stat flex-grid">
                        <div class="japanese">画家</div>
                        <div>
                            <div class="value">102</div>
                            <div class="label">Original Artists</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="steps">
        <div class="inner-section-wrapper">
            <div class="header-content">
                <p class="sub-header">Easy Steps</p>
                <h3>Join The World of Arcadia</h3>
            </div>
            <div class="flex-grid">
                <div class="step">
                    <div class="image">
                        <img id="step-one" src="{% static "images/public-site/homepage/step_signup.jpg" %}" />
                    </div>
                    <p class="step-title">Signup</p>
                    <p class="step-description">All you need is a username and email and your all set. Delve right in or 'character create' your account for hours, its up to you. The best part? its free.</p>
                </div>
                <div class="step">
                    <div class="image">
                        <img id="step-one" src="{% static "images/public-site/homepage/step_explore.jpg" %}" />
                    </div>
                    <p class="step-title">Explore</p>
                    <p class="step-description">Discover the realms of Arcadia. Find which peaks your interest and explore what Arcadia truly has to offer.</p>
                </div>
                <div class="step">
                    <div class="image">
                        <img id="step-one" src="{% static "images/public-site/homepage/step_connect.jpg" %}" />
                    </div>
                    <p class="step-title">Connect</p>
                    <p class="step-description">Every hero needs their party members! Remember, you aren’t alone. Connect with others and build a community worth remembering!</p>
                </div>
            </div>
        </div>
    </section>

    <section id="partners">
        <div class="inner-section-wrapper">
            <div class="header-content">
                <p class="sub-header">Collaboration</p>
                <h3>Industry Leaders <br> Trust Arcadia</h3>
            </div>
            <div class="flex-grid">
                <img src="{% static "images/partners/aniplex.svg" %}" />
                <img src="{% static "images/partners/crunchyroll.svg" %}" />
                <img src="{% static "images/partners/funimation.svg" %}" />
                <img src="{% static "images/partners/hoyoverse.svg" %}" />
                <img src="{% static "images/partners/nexon.svg" %}" />
                <img src="{% static "images/partners/square-enix.svg" %}" />
                <img src="{% static "images/partners/pony-canyon.svg" %}" />
                <img src="{% static "images/partners/yostar.svg" %}" />
            </div>
        </div>
    </section>
{% endblock %}