.page-content {
    // min-height: 900px;
    margin-top: 2rem;
    min-width: 1200px;
    min-height: 100dvh;

    > div {
        margin-bottom: 1rem;
    }

    .two-col-section {
        display: grid;
        column-gap: 1rem;

        &--uneven {
            grid-template-columns: 20% 80%;
        }

        &--uneven-reverse {
            grid-template-columns: 80% 20%;
        }
    }
}

@media only screen and (min-width: 768px) {

    .page-content {
        // min-height: 900px;

        &--two-col {
            display: grid;
            grid-template-columns: 20% 80%;
            column-gap: 1rem;
        }

        &--reversed {
            grid-template-columns: 80% 20%;
        }
        
        &__left-column {
            // margin-right: .5rem;
            min-height: 900px;
            display: flex;
            flex-direction: column;
            row-gap: 1rem;
        }

        &__right-column {
            // margin-left: .5rem;
        }
    }
}