.page-content {
    // min-height: 900px;
    margin-top: 2rem;
    min-width: 1200px;
    min-height: 100dvh;

    > div {
        margin-bottom: 1rem;
    }

    .two-col-section {
        display: grid;
        column-gap: 2rem;

        &--uneven {
            grid-template-columns: 1fr 4fr;
        }

        &--uneven-reverse {
            grid-template-columns: 4fr 1fr;
        }
    }
}