@use "../base/variables";

.footer {
    background-color: variables.$arcadia-primary-one;
    width: 100%;

    &__inner-wrapper {
        max-width: variables.$max-width;
        margin: 0 auto;
        padding: 73px 0px;
        display: flex;
        
        .footer-logo {
            width: 30%;
            padding-right: 24px;

            .footer-description {
                margin-top: 16px;
                color: variables.$text-light-primary;
            }
        }
        .footer-links {
            width: 30%;

            .footer-links__solutions, .footer-links__other {
                display: flex;
            }

            .footer-links__solutions {
                margin-bottom: 24px;
            }

            &__group {
                width: 50%;

                .footer-links__group-header, a {
                    color: white;
                }

                .footer-links__group-header {
                    font-weight: bold;
                }

                a {
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }

        .footer-contact {
            width: 40%;

            .footer__input {
                width: 100%;
            }
        }
    }
}