@use "../base/variables" as *;

.section {
    display: block;
    position: relative;
    width: 100%;
    padding: 101px 0;
    margin-top: -1px;

    &__inner-wrapper {
        position: relative;
        max-width: $max-width;
        margin: 0 auto;
        padding: 0 20px;
        z-index: 1;

        .section__header-content {

            &--align-middle {
                text-align: center;
            }

            .section__sub-header {
                font-size: 18px;
                margin-bottom: 48px;
            }
            .section__header {
                font-size: 59px;
                margin-bottom: 48px;
            }
            .section__description {
                margin-top: 73px;
            }
        }

        .section__main-content {
            &--two-col {
                display: flex;
                flex-direction: row;
            }

            .section__item-image {

            }

            .section__item-text {
                
            }
        }
    }
}