$margin-small: 16px;
$margin-medium: 24px;
$margin-large: 36px;
$margin-x-large: 48px;
$margin-xx-large: 64px;
$max-width: 75rem;

$text-dark-primary: #3E3E42;
$text-light-primary: #ffffff;

$arcadia-primary-one: #505477;
$arcadia-primary-two: #3E415B;
$arcadia-secondary-one: #ED5F77;
$arcadia-secondary-two: #FFAAAA;
$bg-body-light-primary: #FFF6E1;

$miru-primary: #A8C6A1;
$miru-secondary: #96B48F;

$yomu-primary: #B2B2B2;
$yomu-secondary: #8F8E8E;

$asobu-primary: #E63946;
$asobu-secondary: #C9303B;

$tsunagu-primary: #FFCA3C;
$tsunagu-secondary: #d6aa30;

$kau-primary: #4A69CF;
$kau-secondary: #3D56A9;

$iku-primary: #483D8B;
$iku-secondary: #2f285c;

$shiru-primary: #FFA468;
$shiru-secondary: #d18553;

$hiku-primary: #F0D66A;
$hiku-secondary: #c4ae57;

$kiku-primary: #9370DB;
$kiku-secondary: #6b4fa3;

$box-shadow-default: 0px 4px 4px rgba(#000000, .25);