.kiku-song-card {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    border-bottom: 2px solid rgba(#bbbbbb, .5);
    padding-bottom: 1rem;

    &__image {
        height: 120px;
        width: 120px;
    }

    &__subtitle {
        opacity: .5;
    }
}