@use '../../utils/variables' as *;
@use "sass:map";

#miru-layout {

    .arc-header {
        border-bottom-color: map.get($colors, miru-base);
        .box {
            background-color: map.get($colors, miru-base);
        }
    }
}