#results {
    justify-content: center;
    column-gap: .5rem;
}

@media only screen and (min-width: 919px) {
    #results {
        justify-content: flex-start;
    }
}

@media only screen and (min-width: 1520px) {
    #results {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
