@use '../utils/variables' as *;
@use "sass:map";

.arc-table {
    background-color: map.get($colors, platform-dark);

    .MuiTableCell-root {
        padding: 4px 1rem;
    }

    .MuiTableHead-root {
        .MuiTableCell-root {
            font-weight: bold;
        }
    }

    .MuiTableBody-root {
        .image-title {
            display: flex;
            align-items: center;
            column-gap: 1rem;

            img {
                height: 100px;
                width: 75px;
                object-fit: cover;
            }
        }

        .MuiTableRow-root {
            &:nth-child(even) {
                background-color: map.get($colors, platform-base);
            }

            &:last-child {
                .MuiTableCell-root {
                    border-bottom: none;
                }
            }
        }

        .MuiTableCell-root {
            color: white;

            &.bold {
                font-weight: bold;
            }

            .clickable {
                // opacity: .5;
                font-weight: 100;
            }
        }
    }
}