@use '../utils/variables' as *;
@use "sass:map";

.media-feature-card {
    display: flex;
    flex-direction: column;
    height: 450px;
    overflow: hidden;

    .text {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        height: inherit;
    }

    &__description {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        line-clamp: 4;
        white-space: normal;
    }

    &__score {

        span {
            font-size: 3rem;
            font-weight: bold;
        }
    }

    &__image {
        position: relative;

        .mask {
            position: absolute;    
            z-index: 2;
            width: 100%;
            height: 100%;
        }

        img {
            position: relative;
            z-index: 1;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}

@media only screen and (min-width: 576px) {
    .media-feature-card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 350px;
        &__image {
            position: relative;

            .mask {
                background: linear-gradient(to right, map.get($colors, platform-dark), rgba(map.get($colors, platform-dark), 0));
            }
        }
    }
}