@forward 'media-card';
@forward 'arc-header';
@forward 'detail-media';
@forward 'feature-media-card';
@forward 'character-card';
@forward 'media-flow-card';
@forward 'social-media-card';
@forward 'arc-table';
@forward 'arc-tab';
@forward 'franchise-card';
@forward './kiku/index';
@forward './tsunagu/index';