@use '../../abstract/variables' as *;
@use "sass:map";

#kiku-layout {
    h2, .MuiBreadcrumbs-separator {
        color: map.get($arcadia-colors, kiku-base )
    }

    .MuiPagination-ul {
        .MuiPaginationItem-previousNext {
            color: map.get($arcadia-colors, kiku-base )
        }
        .MuiButtonBase-root {
            &.Mui-selected {
                background-color: map.get($arcadia-colors, kiku-base )
            }
        }
    }

    .MuiTableContainer-root {
        .MuiTableHead-root {
            .MuiTableCell-root {
                background-color: map.get($arcadia-colors, kiku-base );
            }
        }
    }
    .MuiTabs-root  {
        .MuiButtonBase-root {
            color: map.get($arcadia-colors, txt-fadded );
            &.Mui-selected {
                color: map.get($arcadia-colors, kiku-base )
            }
        }

        .MuiTabs-indicator {
            background-color: map.get($arcadia-colors, kiku-base );
        }
    }

    #page-kiku-search {
        #seasonal {
            width: 1123px;
        }
    }
}
