@use '../../abstract/variables' as *;
@use "sass:map";

#kumitateru-app {
    h2, .MuiBreadcrumbs-separator {
        color: map.get($arcadia-colors, kumitateru-base )
    }
    
    #page-home {
        .build-card {
            padding: 1rem;
            min-height: 200px;
            flex-direction: column;
            row-gap: 1rem;

            .MuiSvgIcon-root {
                width: 48px;
                height: 48px;
            }
            &:nth-child(1) {
                background-color: rgba(map.get($arcadia-colors, kumitateru-base), 1.0);
            }

            &:nth-child(2) {
                background-color: rgba(map.get($arcadia-colors, kumitateru-base), .7);
            }

            &:nth-child(3) {
                background-color: rgba(map.get($arcadia-colors, kumitateru-base), .5);
            }
        }
    }
}