@use '../../abstract/variables' as *;
@use "sass:map";

#tsunagu-layout {
    h2, .MuiBreadcrumbs-separator {
        color: map.get($arcadia-colors, tsunagu-base )
    }
    
    .comment-block {
        position: relative;

        .depth-arrows {
            position: absolute;
            left: -40px;
            width: 40px;
            height: 100%;

            .vertical-line {
                position: absolute;
                width: 2px;
                height: 50%;
                left: 50%;
                background-color: white;
                opacity: .5;
            }

            .horizontal-line {
                position: absolute;
                height: 2px;
                width: 50%;
                top: 50%;
                left: 50%;
                background-color: white;
                opacity: .5;
            }
        }

        .hide {
            display: none;
        }

        &__username {
            opacity: .75;
        }

        &__upload-date {
            opacity: .75;
        }
    }

    #community-details {
        .MuiAvatar-root {
            width: 90px;
            height: 90px;
            border: 2px solid white;
        }

        #community-name {

        }
    }

    #post-detail {
        
        #comment-container {
            > div {
                background-color: $platform-bg-2;
                padding: .5rem;
                border-radius: 12px;
            }
        }
    }
}
