@use "./variables";

#navbar {
    height: 4rem;
    background-color: variables.$arcadia-primary-one;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;

    .navbar-inner-wrapper {
        display: block;
        height: 100%;
        max-width: variables.$max-width;
        margin: 0 auto;
        padding: 10px 20px;

        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;

            .logo {
                height: 100%;
                a {
                    height: 100%;
                    img {
                        height: 100%;
                    }
                }
            }
            .menu {
                color: white;
                display: flex;
                column-gap: variables.$margin-small;
                align-items: center;
            }
        }
    }
}