$margin-small: 16px;
$margin-medium: 24px;
$margin-large: 36px;
$margin-x-large: 48px;
$margin-xx-large: 64px;
$max-width: 75rem;

$text-dark: #3E3E42;
$text-light-primary: #ffffff;

$arcadia-primary-one: #505477;
$arcadia-primary-two: #3E415B;
$arcadia-secondary-one: #FFC2C2;
$arcadia-secondary-two: #FFAAAA;
$bg-body-light-primary: #FFF6E1;

$miru-primary: #A8C6A1;
$yomu-primary: #3E3E42;
$hiku-primary: #3D2B56;
$kau-primary: #EED9A0;
$tsunagu-primary: #4E5B87;
$iku-primary: #2A3A56;

$pink-primary: #FFDEDE;
$pink-secondary: #FFC2C2;

$box-shadow-default: 0px 4px 4px rgba(#000000, .25);