@use '../../abstract/variables' as *;
@use "sass:map";

.MuiAccordion-root {
    &.arc-accordion {
        background-color: rgba(#000000, 0);
        box-shadow: none;

        .MuiAccordion-heading {
            color: map.get($arcadia-colors, arc-base);

            .MuiAccordionSummary-root {
                width: 100%;
            }
        }
        
        .MuiAccordionDetails-root {
            color: map.get($arcadia-colors, txt-dark );   
        }
    }
}
