@use '../../abstract/variables' as *;

.hero {
    min-height: 100dvh;
    position: relative;

    &__bg-image {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__mask {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
    }

    &__bg-element {
        position: absolute;
        z-index: 2;
    }

    &__wrapper {
        position: relative;
        z-index: 2;
        max-width: $max-width;
        padding: 5rem 20px;
        margin: auto;
        min-height: inherit;
        
        &--two-column {
            display: grid;
            grid-template-columns: 1fr;
            row-gap: 4rem;
        }
    }

    &__text {

        &--white {
            p, h1 {
                color: white;
            }
        }

        &--center {
            text-align: center;
        }

        .japanese {
            font-size: .75rem;
            color: inherit;
        }

        h1 {
            text-box-trim: trim-both;
            font-size: 2rem;
        }

        h1, .main-text {
            margin-bottom: 2rem;
        }
    }

    &__button-container {
        display: flex;
        column-gap: 2rem;
    }
}

@media only screen and (min-width: 768px) {

    .hero {
        min-height: 860px;

        &__wrapper {

            &--two-column {
                grid-template-columns: 1fr 1fr;
                column-gap: 2rem;
            }
        }

        &__text {

            &--center {
                p {
                    width: 60%;
                    margin: auto;
                }
            }
            h1 {
                text-box-trim: trim-both;
                font-size: 4rem;
            }
        }
    }
}