@use '../../abstract/variables' as *;

.section {
    padding: 5rem 0;
    position: relative;

    &--no-padding {
        padding: 0;
    }

    &__bg-element {
        position: absolute;
        z-index: 1;
    }

    &__wrapper {
        position: relative;
        z-index: 2;
        max-width: $max-width;
        padding: 0 20px;
        margin: auto;
        display: flex;
        flex-direction: column;
        row-gap: 5rem;
    }

    &__full-wrapper {
        &--four-square {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }

    .section-main {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
        justify-content: center;
        // margin-bottom: 3.5rem;

        &__mini-title {
            font-size: .75rem;
        }

        &__main-title {
            font-size: 2rem;
            color: $arcadia-primary-one;
        }

        &--center {
            text-align: center;
            width: 75%;
            margin: 0 auto;
        }

        &--white {
            p, h2 {
                color: white;
            }
        }
    }

    .section-content {
        
        &--two-col {
            display: grid;
            grid-template-columns: 1fr;
            row-gap: 4rem;
        }
        
        &--three-col {
            display: flex;
            flex-direction: column;
            row-gap: 2rem;
        }

        &--four-col {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 2rem;
        }

        &--flex {
            display: flex;
            flex-wrap: wrap;
        }
    }
    
    .button-container {
        display: flex;
        column-gap: 2rem;

        &--center {
            justify-content: center;
        }
    }
}

@media only screen and (min-width: 768px) {

    .section {

        .section-main {
            &--half {
                width: 50%;
            }
        }
        .section-content {
            &--four-col {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }

            &--two-col {
                display: grid;
                grid-template-columns: 1fr 1fr;
                column-gap: 2rem;
            }

            &--three-col {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                column-gap: 1.5rem;
            }
        }
    }
}