#auth-layout {
    background: linear-gradient(to right, #FFC8DD, #A2D2FF);

    a {
        color: rgba(0, 0, 0, 0.75);
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
    .auth-wrapper {
        max-width: 1200px;
        padding: 20px;
        margin: auto;
        min-height: 100dvh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h1 {
            font-size: 5rem;
            margin: 0;
        }

        .form {
            height: 100%;
            display: grid;
            grid-template-rows: 75px auto 75px;
            text-align: center;

            .form-content {
                display: flex;
                flex-direction: column;
                align-items: center;
                row-gap: 1rem;
            }

            .MuiFormLabel-root {
                color: black !important;
            }
        }

        .logo {
            img {
                height: 100%;
            }
        }
        .image {
            display: none;
        }
    }
}

@media only screen and (min-width: 992px) {

    #auth-layout {
        min-height: 700px;
        height: 100dvh;

        .auth-wrapper {
            overflow: hidden;
            max-width: 100%;
            padding: 0;
            flex-direction: row;
            height: inherit;
            min-height: inherit;

            .form {
                padding: 2rem;
                width: 40%;
                height: 100%;
                display: grid;
                grid-template-rows: 75px auto 75px;
                text-align: center;

                .form-content {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    row-gap: 1rem;
                    width: 75%;
                    margin: auto;
                }
            }

            .logo {
                img {
                    height: 100%;
                }
            }

            .image {
                width: 60%;
                display: block;
                position: relative;

                .citation {
                    color: white;
                    font-weight: bold;
                    position: absolute;
                    bottom: 2rem;
                    right: 2rem;
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            &#page-auth-create {
                .form {
                    order: 2;
                }

                .image {
                    order: 1;
                }
            }
        }
    }
}