@use '../abstract/variables' as *;
@use "sass:map";

#page-homepage {

    .app-tile {
        border-radius: 15px;
        box-shadow: $box-shadow-default;
        padding: 24px;
        position: relative;
        overflow: hidden;

        &__bg-circle {
            position: absolute;
            border-radius: 100%;
        }

        &__name {
            position: relative;
            z-index: 3;
            font-size: 1.5rem;
            margin-bottom: 1rem;
        }

        &__slogan {
            position: relative;
            font-size: .90rem;
            z-index: 3;
            width: 50%;
        }

        &__mascots {
            position: absolute;
            z-index: 2;
            bottom: 0;
            width: 60%;
        }
    }
    
    #miru-tile {
        height: 360px;

        .app-tile__bg-circle {
            width: 325px;
            height: 325px;
            right: -50px;
        }

        .app-tile__mascots {
            right: 0;
            bottom: 0;
        }
    }

    #yomu-tile {
        height: 290px;
        margin-bottom: 1rem;
        
        h3, p {
            float: right;
        }
        .app-tile__bg-circle {
            width: 325px;
            height: 325px;
            left: -50px;
            bottom: -150px;
        }

        .app-tile__mascots {
            left: 0;
        }
    }

    #kau-tile {
        height: 250px;

        .app-tile__bg-circle {
            width: 325px;
            height: 325px;
            right: -50px;
            bottom: -150px;
        }

        .app-tile__mascots {
            right: 0;
        }
    }

    #asobu-tile {
        height: 250px;

        .app-tile__bg-circle {
            width: 325px;
            height: 325px;
            bottom: -150px;

            left: 50%;
            transform: translateX(-50%);
        }

        .app-tile__mascots {
            left: 50%;
            transform: translateX(-50%);
        }
    }

    #asobu-tile {
        height: 250px;
        margin-bottom: 1rem;

        .app-tile__bg-circle {
            width: 325px;
            height: 325px;
            bottom: -150px;

            left: 75%;
            transform: translateX(-75%);
        }

        .app-tile__mascots {
            left: 75%;
            transform: translateX(-75%);
        }
    }
    
    #tsunagu-tile {
        height: 290px;

        .app-tile__bg-circle {
            width: 350px;
            height: 350px;
            bottom: -100px;
            right: 0
        }

        .app-tile__mascots {
            right: 0;
        }
    }
    
    #kiku-tile, #todokeru-tile, #hiku-tile, #sagasu-tile {
        height: 220px;

        .app-tile__bg-circle {
            width: 325px;
            height: 325px;
            bottom: -150px;
        }
    }

    #kiku-tile, #hiku-tile {
        .app-tile__bg-circle {
           right: -50px;
        }
        .app-tile__mascots {
            right: 0;
        }
    }

    #todokeru-tile, #sagasu-tile {
        h3 {
            float: right;
        }
        p {
            float: right;
        }
        .app-tile__bg-circle {
           left: -50px;
        }
        .app-tile__mascots {
            left: 0;
        }
    }

    #kumitateru-tile, #iku-tile {
        height: 220px;

        .app-tile__bg-circle {
            width: 325px;
            height: 325px;
            bottom: -150px;
            right: -25px;
        }

        .app-tile__mascots {
            right: 0;
        }
    }

    #manabu-tile, #shiru-tile {
        height: 220px;

        .app-tile__bg-circle {
            width: 325px;
            height: 325px;
            bottom: -150px;
            right: -25px;
        }

        .app-tile__mascots {
            right: 0;
        }
    }

    .feature {
        display: grid;
        grid-template-columns: 44px 1fr;
        column-gap: 1rem;

        &__icon {
            flex-grow: 1;
            height: 44px;
            width: 44px;
            padding: 4px;
            border-radius: 5px;
        }

        &__text {
            .header {
                margin-bottom: 1rem;
            }
        }
    }
    
    #hero {

        .hero-gradient {
            position: absolute;
            z-index: 4;
            bottom: 0;
            background: linear-gradient(180deg, rgba(89, 48, 77, 0) 65%, rgb(89, 48, 77));
            width: 100%;
            height: 100%;
            pointer-events: none;
        }
        .hero__wrapper {
            padding: 5rem 20px 0;
        }

        .hero__main-text {
            .rotating-word {
                display: inline-block;
                transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
                will-change: opacity, transform;
            }

            .fade-out {
                opacity: 0;
                transform: translateY(-10px);
            }

            .fade-in {
                opacity: 1;
                transform: translateY(0);
            }

            h1 {
                .container {
                    display: inline-table;
                    width: 90%;
                    border-radius: 5px;
                    padding: .25rem 1rem;
                }
            }

            #hero-feats {
                padding: 2rem;
                display: grid;
                grid-template-columns: 1fr 1fr;
                color: white;
            }
        }

        #featured-cc {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;

            img {
                height: 500px;
            }
        }
    }

    #tagline {
        h2 {
            font-size: 60px;
            text-align: center;
        }
    }

    #collab {
        #collab-container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: .5rem;

            .company {
                padding: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 15px;
                box-shadow: $box-shadow-default;
                height: 120px;
                background-color: map.get($colors, arc-secondary-dark);

                img {
                    max-height: 64px;
                    width: auto;
                }
            }

            #content-label, #platform-label {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 1rem 0;
                img {
                    height: 48px;
                    width: 36px;
                }

            }
            
            #platform-label {
                img {
                    transform: rotate(180deg);
                }
            }
        }
    }

    #primary-apps {

        .section__wrapper {
            row-gap: 1rem;
        }

        #main-miru, #other-primary {
            display: flex;
            flex-direction: column;
            row-gap: 1rem;
        }
    }

    #celebs {

        .review-card {
            position: relative;

            &__image {
                margin-left: 1.5rem;
                position: relative;
                z-index: 2;
                width: 125px;
                height: 125px;
                border-radius: 100%;
                object-fit: cover;
                box-shadow: $box-shadow-default;
                border: 3px solid map.get($colors, arc-tertiary);
            }

            > div {
                // position: absolute;
                z-index: 1;
                margin-top: -63px;
                background-color: map.get($colors, arc-primary );
                color: white;
                border-radius: 15px;
                padding: 86px 1rem 1rem 1rem;
                box-shadow: $box-shadow-default;
            }

            &__statement {
                padding-bottom: .5rem;
                border-bottom: 1px solid rgba( #bbbbbb, .5);
                // min-height: 117px;
            }

            &__person {
                p {
                    &:first-child {
                        margin-top: .5rem;
                    }

                    &:last-child {
                        opacity: .5;
                    }
                }
            }
        }
    }

    #case-study {
        
        #case-study-content {
            display: flex;
            flex-direction: column;
            position: relative;

            #case-study-cards {
                order: 2;
                .arc-feature__header {
                    color: map.get($colors, txt-dark-emp);
                }
            }
    
            #case-study-nav {
                order: 1;
                margin-bottom: 1rem;

                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 1rem;

                > div {
                    border-top: 1px solid map.get($colors, arc-tertiary);
                    padding-top: 1rem;
                    height: 75px;
                    opacity: .5;
                    transition: opacity .5s ease-in-out;

                    &:hover {
                        cursor: pointer;
                    }

                    &.selected {
                        opacity: 1;
                    }
                    img {
                        height: 100%;
                        width: auto;
                        margin: auto;
                    }
                }
            }

        }
        .cs-card {
            color: white;
            margin-bottom: 2rem;
            transition: opacity 1s ease, transform 1s ease;
            opacity: 0;
            transform: translateY(10px);
            visibility: hidden;
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;

            &.show {
                opacity: 1 !important;
                transform: translateY(0);
                visibility: visible;
                position: relative;
            }

            &__title {
                margin-bottom: 1rem;
            }

            &__image {
                width: 100%;
                height: 250px;
                overflow: hidden;
                margin-bottom: 1rem;
                
                img {
                    height: 100%;
                    object-fit: cover;
                }
            }

            &__text {

            }

            &__features {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                margin-bottom: 1rem;
            }

            &__source {
                text-align: end;
                margin-top: .5rem;
            }
        }
    }

    #middle-cta {
        overflow-y: hidden;
        #anime-lines {
            z-index: 1;
            top: 0;
            height: 100%;
        }
        
        #pointing-girl-1 {
            bottom: 0;
            left: 20%;
            z-index: 2;
        }

        #pointing-girl-2 {
            bottom: 0;
            left: 5%;
            z-index: 3;
        }
    }

    #tech {
        #stack {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 2rem;
            justify-items: center;

            .stack-icon {
                background-color: map.get($colors, arc-primary);
                width: 90px;
                height: 90px;
                box-shadow: $box-shadow-default;
                border-radius: 24px;
                padding: 1.5rem;

                img {
                    width: 100%;
                    height: auto;
                }
            }
        }

        #tech-features {

            >div:nth-child(1) {
                margin-bottom: 2rem;
            }
        }

        #roadmap {
            #roadmap-main {
                margin-bottom: 5rem;
            }

            #goals {
                display: flex;
                flex-direction: column;
                row-gap: 2rem;

                >div {
                    background-color: map.get($colors, arc-primary);
                    padding: 1rem;
                    color: white;

                    h3 {
                        margin-bottom: 1rem;
                    }
                }
            }
        }
    }

    #d2x {

        #d2x-stats {
            > div {
                height: fit-content;
                padding: 1rem;
                border-radius: 24px;
                box-shadow: $box-shadow-default;

                h3 {
                    font-size: 3rem;
                }
            }
        }
        #d2x-leaders {

            &.grid--3-col {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                column-gap: .5rem;
            }
            img {
                border-radius: 24px;
                box-shadow: $box-shadow-default;
            }
        }
    }

    #bottom-cta {

        .section__bg-element {
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .section-main {
            padding: 1rem;
        }
    }
}

@media only screen and (min-width: 768px) {

    #page-homepage {

        .app-tile {
        border-radius: 15px;
        box-shadow: $box-shadow-default;
        padding: 24px;
        position: relative;
        overflow: hidden;

        &__bg-circle {
            position: absolute;
            border-radius: 100%;
        }

        &__name {
            font-size: 2rem;
        }

        &__slogan {
            position: relative;
            font-size: 1.25rem;
            z-index: 3;
            width: 50%;
        }

        &__mascots {
            width: auto;
        }
        }

        #hero {
            #featured-cc {
                img {
                    height: auto;
                }
            }
        }
        #features {
            #sakura-tree {
                right: 0;
                top: -20px;
            }

            #features-broken-circle {
                bottom: 0;
            }
        }
        #tagline {
            h2 {
                font-size: 90px;
            }
        }

        #collab {

            .grid--2-col {
                column-gap: 4rem;
            }
        }

        #primary-apps {

            .section__wrapper {
                row-gap: 1rem;
            }
            
            #main-miru {
                display: grid;
                grid-template-columns: 3fr 2fr;
                column-gap: 1rem;
            }

            #other-primary {
                display: grid;
                grid-template-columns: 3fr 4fr;
                column-gap: 1rem;
            }
        }

        #celebs {

            .review-card {
                min-height: 341px;

                &__statement {
                    min-height: 117px;
                }
            }
            .grid--3-col {
                row-gap: 4rem;
            }
        }

        #secondary {

            .MuiTabPanel-root {
                min-height: 524px;
            }
        }

        #case-study {
            .cs-card {

                &__image {
                    
                    img {
                        height: 100%;
                        object-fit: cover;
                    }
                }

                &__text {

                }

                &__features {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    column-gap: 2.5rem;
                }

                &__source {
                    text-align: end;
                    margin-top: .5rem;
                }
            }

            #case-study-content {
                display: flex;
                flex-direction: column;

                #case-study-cards {
                    order: 1;
                }
        
                #case-study-nav {
                    order: 2;
                    margin-bottom: 1rem;

                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    gap: 1rem;

                    > div {
                        height: 100px;
                    }
                }
            }
        }

        #tech {

            #tech-pink-lines-1 {
                top: 40%;
                width: 20%;
            }

            #tech-pink-lines-2 {
                bottom: 40%;
                right: 0;
                width: 20%;
            }

            #tech-pink-ribbon {
                bottom: 5%;
            }

            #stack {
                gap: 1rem;
                height: 150px;

                .stack-icon {
                    width: 125px;
                    height: 125px;
                }
            }

            #roadmap {

                #roadmap-main {

                    &.grid--2-col {
                        grid-template-columns: 1fr 2fr;
                        align-items: end;
                    }
                    img {
                        max-height: 300px;
                    }
                }
            }
        }

        #d2x {
            #d2x-logo {
                transform: scale(2);
            }
        }
    }
}

@media only screen and (min-width: 900px) {

    #page-homepage {
        #tech {

            #tech-pink-lines-1, #tech-pink-lines-1 {
                // width: auto;
            }

            #tech-pink-ribbon {
                bottom: 1rem;
            }

            #stack {
                gap: 2rem;
                height: 150px;
            }

            #roadmap {

                #goals {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    column-gap: 2rem;
                }
            }
        }

        #case-study {
            .cs-card {
                min-height: 400px;

                &__features {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    column-gap: 2.5rem;
                }
            }
        }

        #bottom-cta {
            .section__wrapper {
                min-height: 500px;
            }
        }
    }
}

@media only screen and (min-width: 1200px) {

    #page-homepage {

        #tech {
            .section-main {
                width: 75%;
            }
        }
        #case-study {
            .cs-card {
                
               >div {
                    display: grid;
                    grid-template-columns: 1fr 1.5fr;
                    column-gap: 2rem;
               }

               &__image {
                    margin-bottom: 0;
                    height: 100%;
               }

                &__features {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    column-gap: 2.5rem;
                }
            }
        }
    }
}