@font-face {
    font-family: 'Noto Sans JP';
    src: url('./noto_sans_jp/NotoSansJP-VariableFont_wght.woff2') format('woff2');
    font-weight: 100 900; /* Variable font supports a range of weights */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Serif JP';
    src: url('./noto_serif_jp/NotoSerifJP-VariableFont_wght.ttf') format('truetype-variations');
    font-weight: 100 900; /* Variable font supports a range of weights */
    font-style: normal;
    font-display: swap;
}

.txt-bold {
    font-weight: bold;
}

h1, h3 {
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.25rem;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}