{% extends 'public-site/base.html' %}
{% load static %}

{% block stylesheets %}
<link href="{% static "css/pages/misc/misc.css" %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

    <section class="section" id="error">
        <div class="divider"></div>
        <div class="section__template section__template--two-col">
            <div class="image">
                <img src="{% static "images/public-site/misc/construction.png" %}" />
            </div>
            <div class="text">
                <h1>Under <br />Construction</h1>
                <p>Oops! This page is under construction. Our Platelets are on the job - making sure everything is ready and safe!</p>
                <a href="/">
                    <div>Home</div>
                </a>
            </div>
        </div>
    </section>

{% endblock %}