@use './variables' as *;

@each $name, $color in $arcadia-colors {
    .clr-#{$name} {
        color: #{$color} !important
    }
}

@each $name, $color in $arcadia-colors {
    .bg-#{$name} {
        background-color: #{$color} !important
    }
}

@each $name, $size in $text-size{
    .txt-#{$name} {
        font-size: #{$size}
    }
}