// Type
// Borders
.border-radius {
    &--sm {
        border-radius: 5px;
    }

    &--md {
        border-radius: 15px;
    }

    &--lg {
        border-radius: 24px;
    }
}

.blur-container {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-color: rgba(white, .7);
}

.box-shadow {
    box-shadow: 0px 4px 4px rgba(#000000, .25);
}