@use './core/base/variables';
@use './core/base/typography';
@use './core/base/reset';

@import "./core/components/footer";
@import "./core/components/header";
@import "./core/components/button";
@import "./core/components/section";
@import "./core/components/hero";

html,
body {
    background-color: variables.$bg-body-light-primary;
    scroll-behavior: smooth;
    scroll-padding: 4em;
    font-size: 18px;
    overflow-x: hidden;
    width: 100%;
}

* {
    font-family: "Noto Sans JP", Helvetica, Arial, sans-serif;
    color: variables.$text-dark-primary;
}

.mobile-only {
    display: block;
}

.desktop-only {
    display: none;
}

.flex-grid {
    display: flex;
}

h1 {
    font-size: 4rem;
}

h1, h2, h3, h4 {
    font-family: 'Noto Serif JP', Arial, sans-serif;
    color: variables.$arcadia-primary-one;
}

.color-arcadia-primary {
    color: variables.$arcadia-primary-one;
}

.color-white-primary {
    color: variables.$text-light-primary;
}

a {
    text-decoration: none;
    display: block;
    width: fit-content;
}

input {
    border: 1px solid #BBBBBB;
    border-radius: 44px;
    height: 44px;
    padding-left: 24px;
}
