@use "./globals/variables";

#content {

    #hero {
        overflow: hidden;
        height: auto;
        min-height: 90dvh;
        padding: 0;
        position: relative;

        #sakura-latern {
            position: absolute;
            left: 0px;
            top: 4rem;

        }

        #hero-flower-one {
            position: absolute;
            bottom: 0px;
            right: 25%; 
            height: 82px;
            width: 82px;
        }
        #hero-flower-two {
            position: absolute;
            bottom: 1rem;
            right: 35%;
        }
        .inner-section-wrapper {
            margin-top: 6rem;
            padding-top: 6rem;
            padding-bottom: 6rem;

            .flex-grid {
                .text {
                    width: 60%;
                    padding-right: 36px;
                    p {
                        font-size: 24px;
                        margin-bottom: 48px;
                    }
                }

                .image {
                    width: 40%;
                    position: relative;
                    img {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translateX(-50%) translateY(-50%);

                        &#hero-image {
                            z-index: 2;
                        }

                        &#hero-blob {
                            z-index: 1;
                        }
                    }
                }
            }
        }
    }

    #hero-2 {
        padding: 0;
        background-color: variables.$arcadia-primary-one;
        height: 90dvh;
        position: relative;

        .bg-image-wrapper{
            position: absolute;
            z-index: 1;
            height: inherit;
            display: flex;
            width: 100%;
            .bg-image-col {
                width: 40%;
                height: inherit;

                #hero-image-2 {
                    height: inherit;
                    object-fit: cover;
                }
            }

            .bg-ghost-col {
                width: 60%;
            }
        }

        .inner-section-wrapper {
            z-index: 2;
            height: inherit;

            .flex-grid {
                height: inherit;

                .ghost-col {
                    width: 40%;
                }

                .text-col {
                    color: white;
                    width: 60%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    h2 {
                        font-size: 73px;
                        margin-bottom: 73px;
                    }

                    .differences {
                        display: flex;
                        flex-wrap: wrap;
                        row-gap: 24px;

                        .feature {
                            display: flex;
                            column-gap: 8px;
                            .line-header {
                                background-color: variables.$arcadia-secondary-one;
                                width: 3px;
                                height: 36px;
                                flex-shrink: 0;
                            }
                            width: 50%;
                        }
                    }
                }
            }
        }
    }
}